{
  "template": "stat*",
  "settings": {
    "index": {
      "number_of_shards": "3",
      "number_of_replicas": "0"
    }
  },
  "mappings": {
    "bucketTerm": {
      "_all": {
        "enabled": false
      },
      "properties": {
        "field": {
          "type": "string",
          "index": "not_analyzed"
        },
        "count": {
          "type": "long"
        },
        "index": {
          "type": "string",
          "index": "not_analyzed"
        },
        "term": {
          "type": "string",
          "index": "not_analyzed"
        },
        "type": {
          "type": "string",
          "index": "not_analyzed"
        },
        "cardinality": {
          "type": "long"
        }
      }
    },
    "bucketNumeric": {
      "_all": {
        "enabled": false
      },
      "properties": {
        "field": {
          "type": "string",
          "index": "not_analyzed"
        },
        "lower_bound_numeric": {
          "type": "double"
        },
        "count": {
          "type": "long"
        },
        "index": {
          "type": "string",
          "index": "not_analyzed"
        },
        "upper_bound_numeric": {
          "type": "double"
        },
        "type": {
          "type": "string",
          "index": "not_analyzed"
        },
        "cardinality": {
          "type": "long"
        }
      }
    },
    "bucketString": {
      "_all": {
        "enabled": false
      },
      "properties": {
        "lower_bound_string": {
          "type": "string",
          "index": "not_analyzed"
        },
        "field": {
          "type": "string",
          "index": "not_analyzed"
        },
        "count": {
          "type": "long"
        },
        "index": {
          "type": "string",
          "index": "not_analyzed"
        },
        "type": {
          "type": "string",
          "index": "not_analyzed"
        },
        "cardinality": {
          "type": "long"
        },
        "upper_bound_string": {
          "type": "string",
          "index": "not_analyzed"
        }
      }
    }
  }
}