<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds" debug="false">
  <conversionRule conversionWord="sequence" converterClass="com.yangdb.fuse.dispatcher.logging.Sequence$Converter" />
  <conversionRule conversionWord="requestId" converterClass="com.yangdb.fuse.logging.RequestId$Converter" />
  <conversionRule conversionWord="requestExternalId" converterClass="com.yangdb.fuse.logging.RequestExternalMetadata$IdConverter" />
  <conversionRule conversionWord="requestExternalOperation" converterClass="com.yangdb.fuse.logging.RequestExternalMetadata$OperationConverter" />
  <conversionRule conversionWord="logType" converterClass="com.yangdb.fuse.dispatcher.logging.LogType$Converter" />
  <conversionRule conversionWord="methodName" converterClass="com.yangdb.fuse.dispatcher.logging.MethodName$Converter" />
  <conversionRule conversionWord="hostName" converterClass="com.yangdb.fuse.dispatcher.logging.HostName$Converter" />
  <conversionRule conversionWord="requestScope" converterClass="com.yangdb.fuse.dispatcher.logging.RequestIdByScope$Converter" />
  <conversionRule conversionWord="route" converterClass="com.yangdb.fuse.logging.Route$Converter" />
  <conversionRule conversionWord="elapsed" converterClass="com.yangdb.fuse.dispatcher.logging.Elapsed$Converter" />
  <conversionRule conversionWord="elapsedFrom" converterClass="com.yangdb.fuse.dispatcher.logging.ElapsedFrom$Converter" />
  <conversionRule conversionWord="elasticElapsed" converterClass="com.yangdb.fuse.executor.elasticsearch.logging.ElasticElapsed$SingleConverter" />
  <conversionRule conversionWord="elasticElapsedTotal" converterClass="com.yangdb.fuse.executor.elasticsearch.logging.ElasticElapsed$TotalConverter" />
  <conversionRule conversionWord="networkElasticElapsed" converterClass="com.yangdb.fuse.executor.elasticsearch.logging.NetworkElasticElapsed$SingleConverter" />
  <conversionRule conversionWord="networkElasticElapsedTotal" converterClass="com.yangdb.fuse.executor.elasticsearch.logging.NetworkElasticElapsed$TotalConverter" />
  <conversionRule conversionWord="responseLength" converterClass="com.yangdb.fuse.logging.ResponseLength$Converter" />

  <!-- appenders -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%green(%-23requestId) %green(%-23requestExternalId) %white(%-26d{ISO8601}) %yellow(%-6elapsed) %yellow(%-6elapsedFrom)  %yellow(%-6networkElasticElapsedTotal) %white(%-8level) %magenta(%-17thread) %cyan(%-46logger{5}) %cyan(%-8logType) %cyan(%-20methodName) %white(%msg%n) %boldRed(%ex{15}) %nopex</pattern>
    </encoder>
  </appender>

  <appender name="filetrace" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/trace.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>log/trace.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>5</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%-15hostName %-23requestId %-23requestExternalId %-20requestExternalOperation %-8requestScope %-26d{ISO8601} %-6elapsed %-6elapsedFrom %-6elasticElapsedTotal %-8level %-17thread %-46logger{5} %-8logType %-20methodName %msg%n %ex{15} %nopex</pattern>
    </encoder>
  </appender>

  <appender name="es-error-filetrace" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/es-error-trace.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>log/es-error-trace.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>5</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%-26d{ISO8601} %-8level %-46logger{5} %msg%n %ex{15} %nopex</pattern>
    </encoder>
  </appender>

  <appender name="elasticsearch" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
    <url>http://localhost:9200/_bulk</url>
    <index>fuse-engine-logs-%date{yyyy-MM}</index>
    <type>log</type>
    <errorLoggerName>es-error-logger</errorLoggerName>
    <properties>
      <property>
        <name>host</name>
        <value>%hostName</value>
        <allowEmpty>false</allowEmpty>
      </property>
      <property>
        <name>sequence</name>
        <value>%sequence</value>
      </property>
      <property>
        <name>requestScope</name>
        <value>%requestScope</value>
        <allowEmpty>false</allowEmpty>
      </property>
      <property>
        <name>level</name>
        <value>%level</value>
      </property>
      <property>
        <name>exception</name>
        <value>%ex</value>
      </property>
      <property>
        <name>thread</name>
        <value>%thread</value>
      </property>
      <property>
        <name>logger</name>
        <value>%logger{5}</value>
      </property>
      <property>
        <name>logType</name>
        <value>%logType</value>
      </property>
      <property>
        <name>methodName</name>
        <value>%methodName</value>
      </property>
      <property>
        <name>elapsed</name>
        <value>%elapsed</value>
      </property>
      <property>
        <name>elapsedFrom</name>
        <value>%elapsedFrom</value>
      </property>
      <property>
        <name>elasticElapsed</name>
        <value>%elasticElapsed</value>
      </property>
      <property>
        <name>elasticElapsedTotal</name>
        <value>%elasticElapsedTotal</value>
      </property>
      <property>
        <name>networkElasticElapsed</name>
        <value>%networkElasticElapsed</value>
      </property>
      <property>
        <name>networkElasticElapsedTotal</name>
        <value>%networkElasticElapsedTotal</value>
      </property>
      <property>
        <name>requestId</name>
        <value>%requestId</value>
      </property>
      <property>
        <name>requestExternalId</name>
        <value>%requestExternalId</value>
      </property>
      <property>
        <name>requestExternalOperation</name>
        <value>%requestExternalOperation</value>
      </property>
      <property>
        <name>route</name>
        <value>%route</value>
      </property>
      <property>
        <name>responseLength</name>
        <value>%responseLength</value>
      </property>
    </properties>
    <headers>
      <header>
        <name>Content-Type</name>
        <value>application/json</value>
      </header>
    </headers>
  </appender>
  <!-- appenders -->

  <!-- Ignore loggers -->
  <logger name="org.jooby" additivity="false"/>
  <logger name="org.elasticsearch" additivity="false"/>
  <logger name="io.netty" additivity="false"/>
  <logger name="org.unipop" additivity="false"/>
  <logger name="com.yangdb.fuse.dispatcher.resource" additivity="false"/>
  <logger name="com.yangdb.fuse.executor.elasticsearch.logging.LoggingClient.Verbose" additivity="false"/>
  <logger name="com.yangdb.fuse.unipop.schemaProviders.GraphElementSchemaProvider.Verbose" additivity="false"/>
  <!-- Ignore loggers -->

  <!-- es error logger -->
  <logger name="es-error-logger" level="INFO" additivity="false">
    <appender-ref ref="es-error-filetrace"/>
  </logger>
  <!-- es error logger -->

  <!-- root -->
  <root level="trace">
    <appender-ref ref="stdout" />
    <appender-ref ref="filetrace" />
    <!--<appender-ref ref="elasticsearch"/>-->
  </root>
  <!-- root -->
</configuration>
